name: Build GoMobile

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version Overwrite
        required: false
  push:
    tags:
      - "v*"
  pull_request:

env:
  VERSION: ${{ github.event.inputs.version || (startsWith(github.ref, 'refs/tags/') && github.ref || '') }}

jobs:
  android:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - uses: android-actions/setup-android@v2
      - name: Install Android Platform
        run: |
          sdkmanager "platform-tools"
          sdkmanager "platforms;android-33"
          sdkmanager "build-tools;33.0.2"
      - uses: nttld/setup-ndk@v1
        id: setup-ndk
        with:
          ndk-version: r25c
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20'
      - name: Install Gomobile
        run: make gomobile
        env:
          GOPROXY: https://proxy.golang.org,direct
          GO111MODULE: "on"
      - name: Build
        run: make gomobile_android
        env:
          ANDROID_NDK_HOME: ${{ steps.setup-ndk.outputs.ndk-path }}
          ANDROID_NDK_TOOLCHAIN: ${{ steps.setup-ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64/bin
      - name: Compress
        run: tar -czvf output.tar.gz -C output/android .
      - if: ${{ env.VERSION!='' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          asset_name: gomobile_custom_libp2p_android_aar_$tag.tar.gz
          file: output.tar.gz
          tag: ${{ env.VERSION }}
          overwrite: true
      - if: ${{ env.VERSION=='' }}
        uses: actions/upload-artifact@v3
        with:
          name: gomobile_custom_libp2p_android_aar
          path: output.tar.gz

  ios:
    runs-on: macos-11
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '^1.20'
      - name: Install Gomobile
        run: make gomobile
        env:
          GOPROXY: https://proxy.golang.org,direct
          GO111MODULE: "on"
      - name: Build Framework
        run: make gomobile_ios
      - name: Compress Framework
        run: tar -czvf output.tar.gz -C output/ios .
      - if: ${{ env.VERSION!='' }}
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          asset_name: gomobile_custom_libp2p_ios_xcframework_$tag.tar.gz
          file: output.tar.gz
          tag: ${{ env.VERSION }}
          overwrite: true
      - if: ${{ env.VERSION=='' }}
        uses: actions/upload-artifact@v3
        with:
          name: gomobile_custom_libp2p_ios_xcframework
          path: output.tar.gz
